:root {
  --bg-color: #ffffff;
  --text-color: #212529;
  --card-bg: #f8f9fa;
  --border-color: #dee2e6;
  --accent-color: #28a745; 
}


[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --border-color: #333333;
  --accent-color: #34d399;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}