#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-color: var(--border-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
}